inc/sensitive/*

inc/nutritionix-demo/*

inc/api-library-php-master/*

test.php

xampp/*

forbidden/*

Resources/*

restricted/*

WAMP_Default_Backup/*

jquery-ui-1.10.3.custom/*

*.swp
